PORT=3000
NODE_ENV=development

WEBHOOK_VERIFY_TOKEN=

META_APP_SECRET=
META_SIGNATURE_VALIDATION_ENABLED=false

WHATSAPP_ACCESS_TOKEN=
WHATSAPP_PHONE_NUMBER_ID=
WHATSAPP_BUSINESS_ACCOUNT_ID=
WHATSAPP_GRAPH_API_VERSION=
WHATSAPP_ASSIGNMENT_HEADER_IMAGE_URL=https://logistics-mba-demo.onrender.com/images/load-assignment-header.png
WHATSAPP_EXCEPTION_HEADER_IMAGE_URL=https://logistics-mba-demo.onrender.com/images/breakdown-image.png
WHATSAPP_NOTIFICATIONS_ENABLED=false
